<div class="container">

  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="input-group">
      <input name="title" ngModel required placeholder="Add a Todo"/>
      <button class="primary">Submit</button>
    </div>
  </form>

  <div class="header">
    <h1>Open Todos</h1>
  </div>

    <div class="text-center" *ngIf="todos.length < 1 else displayTodos">You don't have any open todos!</div>

  <ng-template #displayTodos>
    <div *ngFor="let todo of todos.reverse(); let i = index">
      <app-card
        [title]=todo.title
        [index]=i
        (closedHandler)="markTodoAsClosed(todo.id)"
        [showCheckbox]=true></app-card>
    </div>
  </ng-template>

</div>
